<br>
<br>
<center>
<div class="images">
    <img src="{{meal.imageUrl}}">
</div>
<br>
<table class="table">
  <thead>
    <tr>
        <th>Cokking Time</th>
        <th>Serving</th>
    </tr>
    <tr>
      <td >{{meal.cookingTime}}</td>
      <td >{{meal.serving}}</td>
    </tr>
  </thead>
  </table>
  <h1>{{meal.title}}</h1><br>
  <h2>{{meal.description}}</h2>
  
  </center>